body {
    background-color: rgb(72, 73, 78);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    position: relative;
    margin: 25px auto;
    justify-content: center;
    align-self: center;
    background-color: rgb(33, 30, 39);
    width: 1276px;
    height: 600px;
    flex-shrink: 0;
    flex-direction: column;
    border-radius: 28px;
}

.back{
    margin-top: 40px;
    margin-left: 35px;
}

.perfil{
    width: 440px;
    height: 325px;
    flex-shrink: 0;
    border-radius: 28px;
    background: rgba(48, 63, 140, 0.50);
    flex-direction: column;
    display: flex; 
    flex-direction: column;
}


.applyColumn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px; 
}

.pac{
    font-family: 'Montserrat', sans-serif;
    color: #D7DDFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 52px;
    padding-top: 30px;
}

.foto{
    margin-left: 50px;
    margin-top: 20px;
    width: 131px;
    height: 120px;
}

.botonArchivos{
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    display: flex;
    justify-content: center;
    width: 440px;
    height: 137px;
    flex-shrink: 0;
    border-radius: 28px;
    background: rgba(215, 221, 255, 0.50);
    margin-top: 40px;
    border: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #211E27;
    white-space: pre-line;
    align-items: center;
    padding-bottom: 25px;
}

.divIzquierda{
    width: 440px;
    height: 502px;
    flex-shrink: 0;
    margin-left: 130px;
    margin-top: -40px;
}
.divDerecha{
    position: absolute;
    width: 638px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 0px 28px 28px 0px;
    background: rgba(12, 11, 15, 1);
    top: 0;
    right: 0;
    overflow-y: scroll;
}
.doc{
    margin-top: 30px;
}
